PORT=3333
WEBHOOK_URL=WEBHOOK_URL
TARGET_JID_PHOTO=628xxxx@s.whatsapp.net
PUBLIC_BASE_URL=http://localhost:3333
API_TOKEN=API_WA
N8N_TOKEN=API_N8N
REDIS_URL=REDIS_URL
DB_REDIS_LEVEL=0
WA_SESSION_ID=SESSIONID
LOG_LEVEL=info
NODE_ENV=development
N8N_WEBHOOK_URLS_PROD=N8N_WEBHOOK_URLS_PROD
N8N_WEBHOOK_URLS_DEV=N8N_WEBHOOK_URLS_PROD